/* Your code goes below here */

/* 

selector {

  property: value;

}

*/
p {
  color: #343434;
  font-size: 24px;
  border: 1px solid goldenrod;
}

a {
  color: green;
  font-size: 28px;
  border: 1px solid blue;
}

ol, ul {
  color: green;
  border: 1px solid red;
}

li {
  color: purple;
}

/* Your code goes above here */