/* Your code goes below here */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/* Your code goes above here */